*{
    background:#040808;
    margin: 0;
    padding: 0;
}


#contenedor{
    width: 1200px;
    height: 1000px;
    /*background: #D8D8D8;*/
    margin: 0.5em auto;
    padding: 0.5em;
    
}

#header{
    height: 15%;
    background: #A4A4A4;
    border-radius: 1em;
    margin: 1em;
/*    visibility: hidden;*/
}

#img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
    
}

#nav{
    height: 10%;
    background: #424242;
    border-radius: 1em;
    margin: 1em;
    
}

#nav h1{
    background: #424242;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    font-display: swap;
}

.btn{
    height: 40%;
    width: 13.19%;
    background: #223461;
    border-radius: 0.5em;
  
    margin-left: 0.8%;
    margin-right: 0.2%;
     margin-top: 2.5%;
    float:left;
    display:block;
    cursor: pointer;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    
}

.btn:hover{
    border:1px solid yellow;
}

#contenido{
    height:53%;
    /*background: #FFFFFF;*/
    margin: 1em;
}

#footer{
    
    height: 15%;
    background: #210B3B;
    border-radius: 1em;
    margin: 1em;
    
}

#titulo, #Materia, #Docente{
    background: #210B3B;
    color: aliceblue;
    font-family: monospace;
    font-size: 20px;
    margin-left: 3%;
    margin-top: 1%;
    
}

#space{
    height: 12px;
    background: #210B3B;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


#section{
    height: 95%;
    width: 71%;
    background: #804000;
    border-radius: 1em;
    float: left;
    margin: 0.5em;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    color: darkgreen;
}

#imgc{
    width: 100%;
    height: 100%;
    border-radius: 1em;    
    
    
}

#aside{
    height: 95%;
    width: 25%;
    background: #804000;
    border-radius: 1em;
    float: right;
    margin: 0.5em;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

.articulo{
    width: 96%;
    height: 20%;
    background: #424242;
    margin: 1em;
    border-radius: 1em;
    
}




.container{
    width: 96%;
    height: 93%;
    background: #006400;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 1em;
    
}

.item{
    background: #F0E68C;
    color: #fff;
   width: 22%;
    flex:none;
    margin-bottom: 2%;
    border-radius: 1em;
    border:2px solid blue;
  cursor: pointer;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    
}

/*.item:hover{
    border:2px solid white;
}*/

.recurso0{
     background: #fff;
    color: #fff;
   width: 32%;
    height: 8%;
    flex:none;
    margin-bottom: 2%;
    margin-left: 33%;
    border-radius: 0.5em;
    cursor: pointer;
    border:2px groove black;
    line-height: 200%;
        
}


.recurso1{
     background: #fff;
    color: #fff;
   width: 32%;
    height: 8%;
    flex:none;
    margin-bottom: 2%;
    margin-left: 33%;
    border-radius: 0.5em;
    cursor: pointer;
    border:2px groove black;
    line-height: 200%;
        
}

.recurso2{
     background: #fff;
    color: #fff;
   width: 32%;
    height: 8%;
    flex:none;
    margin-bottom: 2%;
    margin-left: 33%;
    border-radius: 0.5em;
    cursor: pointer;
    border:2px groove black;
    line-height: 200%;
        
}

.recursof{
       background: #fff;
    color: #fff;
   width: 32%;
    height: 4%;
    flex:none;
    margin-bottom: 2%;
    margin-left: 33%;
    border-radius: 1em;
    cursor: pointer;
    border:2px groove black;
    line-height: 100%;  
    
}

#recursof0{
    background: #D3CA0C;
    display: none;
}

#recursof1{
    background: #AADBDF;
    display: none;
}

#recursof2{
    background: #D67412;
    display: none;
}

#recursof3{
    background: #53686A;
    display: none;
}

#recursof4{
    background: #9C690A;
    display: none;
}

.recurso0:hover{
    border:2px solid white;
}


.recurso1:hover{
    border:2px solid white;
}


.recurso2:hover{
    border:2px solid white;
}


.boton{
  width: 150px;
    height: 25px;
    background-color: #F00;
    border-radius: .5em;
    cursor: pointer;
    margin-left: 23%;
    margin-top: 5px;
    transition: background-color 0.5s;
    
}

#puntaje{
   width: 290px;
    height: 25px;
    background: #804000;
}

#rpuntaje{
   width: 288px;
    height: 25px;
    background: #804000;
}

#ne{
   width: 290px;
    height: 25px;
    background: #804000;
}

#rne{
   width: 288px;
    height: 25px;
    background: #804000;
}


.boton:hover{
    background-color: yellow;
}



#item13, #item14, #item15, #item16{
    margin-bottom: 0%;
}


/*
div:hover {
  color: orange;
}*/



















